.card {
  border-radius: 8px;
  border: 1px solid #fff;
}

.card > * {
  padding: 8px 16px;
}

.card h1 {
  border-bottom: 1px solid #fff;
  background-color: #222;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}